include ../head/head.pug
    //- BTN PRIMARY
    //- COLOR
    //- large

    button.btn__primary--large-color Presss
        span  
            svg( 
            class="svg__icon", 
            aria-labelledby="btn__primary--large-color",
            )
                use(xlink:href="../../src/iconos/calendario.svg#calendar")
    
    button.btn__primary--large-color 
        span  Presss
            svg( 
            class="svg__icon", 
            aria-labelledby="btn__primary--large-color",) 
                use(xlink:href="../../src/iconos/calendario.svg#calendar") 
        

    
    button.btn__primary--large-color Presss
    button(class='btn__primary--large-color') Presss

     //- large
    button.btn__primary--large-color Presss
    button(class='btn__primary--large-color' disabled) Presss


    //- medium
    button.btn__primary--medium-color Presss
        span 
            svg( 
            class="svg__icon", 
            aria-labelledby="btn__primary--medium-color",
            )
                use(xlink:href="../../src/iconos/calendario.svg#calendar")
        

    button.btn__primary--medium-color Press
    button(class='btn__primary--medium-color') Presss
    //- 
    button.btn__primary--small-color.pointer-events Presss
    button(class='btn__primary--small-color') Presss

    //- NO COLOR
    //- large
    button.btn__primary--large-nocolor Presss
    button(class='btn__primary--large-nocolor') Presss
    //- medium
    button.btn__primary--medium-nocolor Presss
    button(class='btn__primary--medium-nocolor') Presss
    //- small
    button.btn__primary--small-nocolor.pointer-events Pressssafafa
        span 
            svg( 
            class="svg__icon", 
            aria-labelledby="btn__primary--medium-color",
            )
                use(xlink:href="../../src/iconos/calendario.svg#calendar")
        

    button.btn__primary--small-nocolor.pointer-events Presssdfdsfsdf
    button(class='btn__primary--small-nocolor') Presss

    //- BTN MODAL
    button.btn__modal Presss
    button(class='btn__modal') Presss


    //- BTN MODAL
    button.btn__modal 
        span pressa 
            svg( 
            class="svg__icon", 
            aria-labelledby="btn__modal",
            )
                use(xlink:href="../../src/iconos/calendario.svg#calendar")
        
    

</html>

